{% extends 'authentication/base2.html' %}
{% block maincontent %}

{% if user.is_authenticated %}
<p>Hello!!!!</p>
{%  else %}
<div >
    <h1>ABOUT US</h1>
    <p id="p1">ContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContent</p>
    <p id="p1">ContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContent</p>
    
    </div>
    <div >
        <h1>ABOUT NIT</h1>
        <p id="p1">ContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContent</p>
        <p id="p1">ContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContentContent</p>
        
        </div>
        


{% endif %}
{% endblock %}